/*desktop layout*/

header {
    padding: 30px;
    background-color: #f1f1f1;
    display: grid;
    margin: auto;
}

nav {
    padding: 20px;
    background-color: #f1f1f1;
    display: grid;
    margin: auto;
}


main {
    padding: 200px;
    background-color: #f1f1f1;
    display: grid;
    margin: 20px auto;
    max-width: 50%;
    border: 3px black;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.article1, .article2, .article3, .article4 {
    flex: 1 0 300px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}
.article1 {
    grid-column-start: 1;
}

.article2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.article3 {
    grid-column-start: 2;
}

.article4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

footer {
    padding: 50px;
    background-color: #f1f1f1;
    display: grid;
    margin: auto;
}

aside {
   grid-column-start: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.section1, .section2, .section3 {
    grid-column-start: 1;
}

ul {
    grid-column-start: 2;
}
/*Base mobile layout

header {
    padding: 70px;
    background-color: #f1f1f1;
    display: grid;
    margin: auto;
}

main {
    padding: 200px;
    background-color: #f1f1f1;
    display: grid;
    margin: 20px auto;
    max-width: 50%;
    border: 3px black;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.article1 {
    grid-column-start: auto;
}

.article2 {
    grid-column-start: auto;
    grid-row-start: 2;
}

.article3 {
    grid-column-start: auto;
    grid-row-start: 3;
}

.article4 {
    grid-column-start: auto;
    grid-row-start: 4;
}


footer {
    padding: 90px;
    background-color: #f1f1f1;
    display: grid;
    margin: auto;
}